<footer>
	<div class="row">
		<div class="large-12 columns">
			<div class="large-4 columns">
				<h3>Newsletter</h3>
				<p>Subscirbe</p>

				<h3>Connect</h3>

			</div>
			<div class="large-4 columns">
				<h3>More</h3>
				<ul>
					<li><%= link_to "About Us", '#'%></li>
					<li><%= link_to "Contact Us", '#'%></li>
					<li><%= link_to "Career", '#'%></li>
					<li><%= link_to "Volunteer", '#'%></li>
					<li><%= link_to "FAQ", '#'%></li>
				</ul>
			</div>
			<div class="large-4 columns">
				<h3>Newsletter</h3>
				<p>Subscirbe</p>

				<h3>Connect</h3>
			</div>
		</div>
		<div class="large-12 columns">
			&rcopy; 2014 Chammo. All rights reserved. 
		</div>
	</div>

</footer>