<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
		</li>
		<li class="toggle-topbar menu-icon">
			<a href="#">Menu</a>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class="has-dropdown">
				<a href="#">Korean</a>
				<ul class="dropdown">
					<li><%= link_to "Basic", '#' %></li>
					<li><%= link_to "Intermediate", '#' %></li>
					<li><%= link_to "Advanced", '#' %></li>
					<li><%= link_to "Quick Learning", '#' %></li>
				</ul>
			</li>
			<li class="has-dropdown">
				<a href="#">About Korea</a>
				<ul class="dropdown">
					<li><%= link_to "Etiquettes", '#' %></li>
					<li><%= link_to "KDrama", '#' %></li>
					<li><%= link_to "KPOP", '#' %></li>
					<li><%= link_to "Shopping", '#' %></li>
				</ul>
			</li>
			<li class="has-dropdown">
				<a href="#">Food</a>
				<ul class="dropdown">
					<li><%= link_to "Appetizers", '#' %></li>
					<li><%= link_to "Soups", '#' %></li>
					<li><%= link_to "Meat", '#' %></li>
					<li><%= link_to "Rice & Noodles", '#' %></li>
					<li><%= link_to "Seafood", '#' %></li>
					<li><%= link_to "Vegetables", '#' %></li>
					<li><%= link_to "Drinks", '#' %></li>
					<li><%= link_to "Dessert", '#' %></li>
				</ul>
			</li>
			<li class="has-dropdown">
				<a href="#">Travel</a>
				<ul class="dropdown">
					<li><%= link_to "Planning", '#' %></li>
					<li><%= link_to "Attractions", '#' %></li>
					<li><%= link_to "Night life", '#' %></li>
					<li><%= link_to "Lodging", '#' %></li>
				</ul>
			</li>
			<li><%= link_to "Blog", posts_path %></li>
			<li><%= link_to "Community", '#' %></li>
		</ul>
	</section>
</nav>